{% extends "base-loggedout.html" %}

{% block title %}The Whole Tooth{% endblock %}

{% block contents %}

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="banner.jpg" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>The Whole Tooth - Keep track of your dental care</h1>
                <p>Allows dentists to share your tooth care easily. Also works as a prostitoothion venue for black market slave owners. Not black slave owners, although we do not discriminate.</p>
                <a class="btn btn-primary btn-lg" href="register.html">Register</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    View the progress in your mouth!
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>View Pictures</h2>
                <p>View personalized photographs from your operations to track your dentist's progress.</p>
                <a class="btn btn-default" href="login.html">Login</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Set Up Appointments</h2>
                <p>Schedule your next visit with ease.</p>
                <a class="btn btn-default" href="login.html">Login</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Talk to your dentist</h2>
                <p>Get advice from your dentist about oral care.</p>
                <a class="btn btn-default" href="login.html">Login</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        
{% endblock %}